--extra-index-url https://download.pytorch.org/whl/cu118

setuptools>=65.5.0
wheel>=0.38.0
numpy>=1.26.0
opencv-python>=4.7.0
onnx>=1.14.0
insightface>=0.7.0
psutil>=5.9.0
pillow>=10.0.0
onnxruntime>=1.15.0
streamlit>=1.22.0
protobuf>=4.23.0
tqdm>=4.65.0
gfpgan>=1.3.8
